<section class="country-page-container" [ngClass]="{'dark': darkMode$ | async}">
  <h2>{{country.officialName}}</h2>
  <div class="symbols-container">
    <figure>
      <img [src]="country.flagURL" [alt]="country.name + ' flag'" class="flag-image">
      <figcaption>Flag</figcaption>
    </figure>
    <figure *ngIf="country.coatOfArmsURL">
      <img [src]="country.coatOfArmsURL" [alt]="country.name + ' coat of arms'" class="coat-image">
      <figcaption>Coat Of Arms</figcaption>
    </figure>
  </div>
  <a [href]="country.googleMapsURL" target="_blank">See on map <span class="material-icons">explore</span></a>
  <div class="details-container">
    <h3>Details</h3>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">location_city</span> Capital</h4>
      <ul *ngIf="country.capital.length">
        <li class="details-value" *ngFor="let capital of country.capital;even as isEven">
          <span class="material-icons"
                *ngIf="country.capital.length > 1">{{isEven ? 'hdr_weak' : 'hdr_strong'}}</span> {{capital}}
        </li>
      </ul>
      <p class="details-value" *ngIf="!country.capital.length">Doesn't have capital</p>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">public</span> Region</h4>
      <p class="details-value">{{country.region}}</p>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">diversity_3</span> Population</h4>
      <p class="details-value">{{country.population | number}}</p>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">flag</span> Independent</h4>
      <p class="details-value">{{country.isIndependent ? "Yes" : "No"}}</p>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">flag_circle</span> United Nations Member</h4>
      <p class="details-value">{{country.isUNMember ? "Yes" : "No"}}</p>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">schedule</span> Timezones</h4>
      <ul>
        <li class="details-value" *ngFor="let zone of country.timezones; even as isEven">
          <span class="material-icons"
                *ngIf="country.timezones.length > 1">{{isEven ? 'hdr_weak' : 'hdr_strong'}}</span> {{zone}}
        </li>
      </ul>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">payments</span> Currencies</h4>
      <ul *ngIf="country.currencies.length">
        <li class="details-value" *ngFor="let currency of country.currencies; even as isEven">
          <span class="material-icons"
                *ngIf="country.currencies.length > 1">{{isEven ? 'hdr_weak' : 'hdr_strong'}}</span> {{currency.name}}
          <span *ngIf="currency.symbol">({{currency.symbol}})</span>
        </li>
      </ul>
      <p class="details-value" *ngIf="!country.currencies.length">Doesn't have own currency</p>
    </div>
    <div class="details-item">
      <h4 class="details-title"><span class="material-icons">language</span> Languages</h4>
      <ul *ngIf="country.languages.length">
        <li class="details-value" *ngFor="let language of country.languages; even as isEven">
          <span class="material-icons"
                *ngIf="country.languages.length > 1">{{isEven ? 'hdr_weak' : 'hdr_strong'}}</span> {{language}}
        </li>
      </ul>
      <p class="details-value" *ngIf="!country.languages.length">Doesn't have own language</p>
    </div>
  </div>
</section>
