@use "src/assets/styles/settings"

header
  position: fixed
  z-index: 1
  width: 100%
  font-size: 1rem
  height: settings.$header-height
  background-color: settings.$secondary-color-transparent-light
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 10px
  gap: 5px

  h1
    font-weight: 600

header.dark
  background-color: settings.$secondary-color-dark-transparent-light
  color: white

main
  background-color: settings.$primary-color
  min-height: 100vh
  padding: settings.$header-height + settings.$gap settings.$gap settings.$gap

main.dark
  background-color: settings.$primary-color-dark
  color: white
